<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="css/style.css">
        <title>About</title>
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
        </style>
    </head>
    <body>
        <div class="main">
            {{>header}}
            <img class="portrait" src="img/pirates.jpg" alt="">
            <p>This website is for searching up international weather, created by Dhairya Solanki.
         this website use Javascript, Html, Node.js and CSS </p>
        </div>
        {{>footer}}
    </body>

</html>
