<!DOCTYPE html>
<html lang="en">
    <script src="js/app.js"></script>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
        </style>
        <link rel="shortcut icon" href="img/logo.ico" />
    </head>
    <body>
        <div class="main">
            {{>header}}
        <h2>{{helptext}}</h2>
        <p> Sorry, Work in Progress. Coming soon!!</p>
        </div>
            {{>footer}}
    </body>

</html>